<div id="userRoleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="760">
	<%= simple_form_for @user, :url => user_path(@user), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
	<%= display_base_errors resource %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Please select a user role.</h3>
	</div>
	<div class="modal-body">
		<select class="row-fluid" id="user_role" name="user_role">
			<%= options_for_select([['User', 2], ['Research Admin', 4]], selected: :option) %>
		</select>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<%= f.button :submit, "Update User", label: false, input_html: { class: 'btn btn-primary' } %>
	</div>
	<% end %>
</div>