<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="760">
  
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">To sign up, please fill out the registration below.</h3>
  </div>
  <div class="modal-body">
    <p>Once you have completed the form a confirmation email will be sent to your account upon acceptance to the study.  Please confirm you account before commencing your study activities.</p>
    
    <div class="row-fluid box color_0">
      
      <div class="content">
        
        <div class="form-row control-group row-fluid">
          <label class="control-label span3">User Name: </label>
          <div class="controls span9">
            <%= f.input :name, label: false, :required => true, placeholder: "Name", input_html: { class: 'row-fluid' }%>
          </div>
        </div>
        <div class="form-row control-group row-fluid">
          <label class="control-label span3">Email Address: </label>
          <div class="controls span9">
            <%= f.input :email, :autofocus => true, :required => true, placeholder: "Email", label: false, input_html: { class: 'row-fluid span12' } %>
          </div>
        </div>
        <div class="form-row control-group row-fluid">
          <label class="control-label span3">Study Information:</label>
          <div class="control-group row-fluid span9">
            <div class="controls span6 ">
              <%= f.association :organization, :required => true,label: false,  collection: Organization.all(order: 'name'), prompt: "Choose an Organization", input_html: { class: 'chzn-select' } %>
            </div>
            <div class="controls span6 input-append">
              <%= f.input :secret_key, label: false, :required => true, placeholder: "Study ID Key", input_html: { class: 'row-fluid' }%>
              <span class="add-on"><i class="icon-lock"></i></span>
            </div>
          </div>
        </div>
        <div class="form-row control-group row-fluid">
          <label class="control-label span3">Password:</label>
          <div class="controls span9 ">
            <div class="input-prepend row-fluid"> <span class="add-on"><i class="icon-lock"></i></span>
            <%= f.input :password, :required => true,placeholder: "min 8 characters", label: false, input_html: { class: 'row-fluid' } %>
          </div>
        </div>
      </div>
      <div class="control-group row-fluid">
        <label class="control-label span3">Confirm Password:</label>
        <div class="controls span9">
          <div class="input-prepend row-fluid"> <span class="add-on"><i class="icon-lock"></i></span>
          <%= f.input :password_confirmation, label: false, :required => true, placeholder: "confirm password", input_html: { class: 'row-fluid' }%>
        </div>
      </div>
    </div>
    <div class="form-row control-group row-fluid">
      <label class="control-label span3" for="default-textarea">Consent Information:</label>
      <div class="controls span9">
        <textarea rows="8" class="text-error row-fluid" disabled id="default-textarea"><%=@eua.content.html_safe %>
        </textarea>
      </div>
    </div>
    <div class="form-row control-group row-fluid">
      <label class="control-label span3"> </label>
      
      <div class="controls span9">
        <%= f.input :did_accept_eula,label: false, inline_label: '  I agree to take part in this study' , :required => true%>
      </div>
    </div>
  </div>
</div>
<!-- End .box -->
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal">Close</button>
<%= f.button :submit, "Register", label: false, input_html: { class: 'btn btn-primary' } %>
</div>
<% end %>
</div>