<div id="addStrategyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="760">

		<%= simple_form_for Strategy.new do |f| %>
		<%= f.error_notification %>
		<%= display_base_errors resource %>

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Please fill out all fields for a new strategy.</h3>
		</div>
		<div class="modal-body">
			<div class="row-fluid box color_0">
				<div class="content">

					<div class="form-row control-group row-fluid">
							<label class="control-label span3">Name: </label>
							<div class="controls span9">
								<%= f.input :name, label: false, :required => true, placeholder: "Name", input_html: { class: 'row-fluid' }%>
							</div>
					</div>
					<div class="form-row control-group row-fluid">
							<label class="control-label span3">Type: </label>
							<div class="controls span9">
								<select class="row-fluid" name="strategy[strategy_type]" id="strategy_type">
									<option>Choose a type...</option>
									<option value="route">Route</option>
									<option value="support">Support</option>
								</select>
							</div>
					</div>
					<div class="form-row control-group row-fluid">
							<label class="control-label span3">Sub-type: </label>
							<div class="controls span9">
								<select class="row-fluid" name="strategy[strategy_subtype]" id="strategy_subtype">
									<option>Choose a type...</option>
									<option value="long">Long</option>
									<option value="short">Short</option>
								</select>
							</div>
					</div>
					<div class="form-row control-group row-fluid">
							<label>
								You can create a map here :
								<a href="https://www.google.com/maps/d/">https://www.google.com/maps/d/</a>
							</label>
							<label class="control-label span3">Map URL (Please make sure it begins with http): </label>
							<div class="controls span9">
								<%= f.input :map_url, label: false, :required => true, placeholder: "Map URL beginning with 'http'", input_html: { class: 'row-fluid' }%>
							<br/>
							</div>
					</div>
					<div class="form-row control-group row-fluid">
							<label class="control-label span3">Steps: </label>
							<div class="controls span9">
								<%= f.input :steps , label: false, :required => true, placeholder: "Steps", input_html: { id: "steps", name: "steps", class: 'row-fluid', value:"0" }%>
							</div>
					</div>
					<div class="form-row control-group row-fluid">
							<label class="control-label span3">Distance (Km): </label>
							<div class="controls span9">
								<%= f.input :distance, label: false, :required => true, placeholder: "Distance (Km)", input_html: { id: "distance", name: "distance", class: 'row-fluid', value:"0" }%>
							</div>
					</div>
					<div class="form-row control-group row-fluid">
							<label class="control-label span3">Time in Minutes: </label>
							<div class="controls span9">
								<%= f.input :time, label: false, :required => true, placeholder: "Time in Minutes", input_html: { id: "time", name: "time", class: 'row-fluid', value:"0" }%>
							</div>
					</div>
					<div class="form-row control-group row-fluid">
							<label class="control-label span3">Instructions: </label>
							<div class="controls span9">
								<%= f.input :content, label: false, :required => true, placeholder: "Instructions", input_html: {class: 'row-fluid'}%>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
			<%= f.button :submit, "Create", label: false, input_html: { class: 'btn btn-primary' } %>
		</div>

	<% end %>

</div>
